/* Dark Mode */
#root, html, .table {
    background-color: #222222; 
    color: #EEEEEE;
}

.App {
    white-space: pre-line;
    text-align: center;
}

img {
    object-fit: "contain";
}

#imageSection {
    height: 600px;
}

#messageBox {
    color: #EEEEEE;
    background-color: #333333;
}

#messageBox > ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

li {
    white-space: pre-wrap;
}

.mod1 {
    background-color: #444444;
}

.App {
    margin-top: 20px;
    width: 80%;
}

.message {
    width: 100%;
}

/* Mobile and smaller */
@media (max-width: 991.98px) {  
    .message {
        width: 100%;
    }
    .App {
        width: 100%;
    }
    #imageSection {
        height: 100%;
    }
}